name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 217.154.203.10
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "=== BACKEND ==="
            cd /var/www/backend
            git pull
            source venv/bin/activate
            pip install -r requirements.txt
            systemctl restart gunicorn

            echo "=== FRONTEND ==="
            cd /var/www/frontend/sinnsucher-frontend/eurodata_frontend
            git pull
            npm install
            npm run build
            pm2 restart nextjs --update-env
